@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(283 9% 25%);
  --foreground: oklch(270 20% 97.8%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-muted: var(--muted);
  --color-foregound: var(--foreground);
  --color-popover-foreground: var(--popover-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

html,
body {
  overscroll-behavior-y: none;
  background-color: #221d27;
}

@theme {
  --color-primary: #17191a;
  --color-secondary: #1d2126;
  --color-tertiary: #20232b;
}

.send-button {
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: var(--color-secondary);
  }
}

.border-chat-border {
  border-color: hsl(333.3 22% 16.1%);
}
